.celek{
    background: darkslateblue;
    margin-top: 15px;
}
.displej{
    background:greenyellow;
    padding:10px;
    text-align: right;
    font-family: cursive;
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.klavesa{
    border:1px solid black !important;
    padding:15px !important;
}
